.calendar-box {
  display: flex;
}

.calendar-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px dotted lightgrey;
}

.scheduled {
  height: 64px;
  background: #2ecc71 !important;
}

.non-scheduled {
  height: 64px;
}
