.calendar-box {
  display: flex;
}

.calendar-column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.calendar-column:not(:last-child) {
  border-right: 1px dotted lightgrey;
}

.scheduled, .non-scheduled {
  padding: 2px;
  font-size: 1.2rem;
  height: 64px;
}

.scheduled {
  background: #A2DED0 !important;
}
