.app-title {
  width: 100%;
  font-size: 1.8rem;
  text-align: center;
  padding-bottom: 6px;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.progress {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}
